

:root{
	--backgrownd-color: rgb(255, 255, 255);
	--color: #111;
	--header-backgrownd-color: rgba(7, 10, 36, 0.842);
	--header-color: #ccc;
	--font: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	--main-width: 80%;
	--font-size: 12px;
	--presentation-width: 80%;
	--title-display: flex;
	--header-min-height: 40px;
	--footer-min-height: 40px;
}

@media only screen and (max-width: 700px){
	:root{
		--main-width: calc(100% - 10px);
		/*--font-size: 10px;*/
		--header-backgrownd-color: rgba(36, 7, 18, 0.842);
		--presentation-width: 300px;
		--title-display: flex;
	}
}

@media only screen and (min-width: 701px) and (max-width: 1200px){
	:root{
		--main-width: calc(100% - 10px);
		--font-size: 20px;
		--header-min-height: 50px;
		--footer-min-height: 50px;
		--header-backgrownd-color: rgba(9, 36, 7, 0.842);
		--presentation-width: 500px;
		--title-display: flex;
	}
}

html{
	scroll-behavior: smooth;
	padding: 0;
	margin: 0;
}

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: var(--font);
}

body{
	background-color: var(--backgrownd-color);
	color: var(--color);
	margin: 0;
	padding: 0;
	font-size: var(--font-size);
}

div{
	margin: 0;
}

a{
	color:white;
	text-decoration: none;
}

.bg{
	height: 100%;
	width: 100%;
	position: fixed;
	z-index: -5;
	/*filter: blur(2px);*/
	background-image: url("../images/logo_high.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: contain;
	background-position: center;
}

.fg{
	width: 100%;
	height: 100%;
}

.main{
	margin: auto;
	width: var(--main-width);
}

.title-bar{
	position: sticky;
	top: 0;
	background-color: var(--backgrownd-color);
	color: var(--header-color);
	width: 100%;
	/*border-bottom: solid 3px white*/
	/*background-image: url("../images/logo_high.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: contain;
	background-position: center;*/
}

.title-bar-content{
	display: var(--title-display);
	background-color: var(--header-backgrownd-color);
	color: var(--header-color);
	min-height: var(--footer-min-height);
}

.tittle-section{
	display: inline	;
	border-right: solid;
	/*border-left: solid;*/
	border-width: 1px;
	padding: 10px;
}

.presentacion{
	position:static;
	top: 0;
	z-index: -5;
	height: calc(100vh - (var(--header-min-height) + var(--footer-min-height)));
	width: 100%;
	margin: 0;
	padding-top: 0;
	text-align: center;
	align-items: center;
	background-image: url("../images/logo_high.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: contain;
	background-position: center;
}

.presentacion-contenido{
	position: sticky;
	top: calc(50% - 100px);
	width: var(--presentation-width);
	margin: auto;
}

.presentacion-contenido-bg{
	position: absolute;
	top:0;
	background-image: url("../images/logo_high.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: contain;
	background-position: center;
	filter: blur(5px);
	height: 100%;
	margin: auto;
	width: 100%;
	border: solid 1px blue;
}

.presentacion-contenido-fg{
	position: sticky;
	top:0;
	padding: 5vh;
	border: solid 3px #2222aa;
	border-left: none;
	border-right: none;
	border-radius: 4px;
	width: 100%;
	margin: auto;
	background-color: #ffffff40;
	color: #2222aa;
}

.main-content{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	background-color: white;
}

.vol01{
	padding: 20px;
	background-color: #010057c5;
	margin: 5px;
	border-radius: 5px;
	/*width: calc(100% / 3 - 10px);*/
	/*min-width: 400px;*/
}

.vol02{
	color:#b6e1e9;
}

.imagen-cluster{
	max-width: 100%;
	max-height: 300px;
}

footer{
	margin: auto;
	position: sticky;
	bottom: 0px;
	/*height: 40px;*/
	/*width: 100%;*/
	background-color: var(--backgrownd-color);
	color: var(--header-color);
	padding: 0;
}

.footer-content{
	background-color: var(--header-backgrownd-color);
	/*height: 100%;*/
	padding: 10px;
	color: var(--header-color);
	min-height: var(--footer-min-height);
}

.footer-content a{
	color: var(--header-color);
}